<h1>Feeds controller, edit action</h1>

<%= form_for(@feed, :action => resource(:admin, @feed)) do %>
  <%= text_field :name, :label => 'Feed name' %><br />
  <%= text_field :feed_url, :label => 'Feed URL' %><br />
  <%= text_field :url, :label => 'From Website URL' %><br />
  <%= submit 'Apply' %>
<% end =%>
