<h1>Feeds controller, index action</h1>

<%= link_to 'New', resource(:admin, :feeds, :new) %>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Website</th>
    <th colspan="3">Actions</th>
  </tr>
<% @feeds.each do |feed| %>
  <tr>
    <td><%=h feed.name %></td>
    <td><a href="<%=h feed.feed_url %>"><%=h feed.feed_url %></a></td>
    <td><a href="<%=h feed.url %>"><%=h feed.url %></a></td>
    <td><%= link_to 'Show', resource(:admin, feed) %></td>
    <td><%= link_to 'Edit', resource(:admin, feed, :edit) %></td>
    <td><%= delete_button(resource(:admin, feed), "Delete") %></td>
  </tr>
<% end %>

</table>
