<h1>Feeds controller, index action</h1>

<% unless @feeds.empty? %>
<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Website</th>
  </tr>
  <% @feeds.each do |feed| %>
    <tr>
      <td><%= link_to h(feed.name), resource(:admin, feed) %></td>
      <td><a href="<%=h feed.feed_url %>"><%=h feed.feed_url %></a></td>
      <td><a href="<%=h feed.url %>"><%=h feed.url %></a></td>
    </tr>
  <% end %>
<% end %>

<%= link_to 'New', resource(:admin, :feeds, :new) %>

</table>
