<div id="item-<%= item.id %>" class="item">
  <div class="item-header">
    <h1>
      <span class="date"><%= item.created_at.strftime('%d/%m/%y à %H:%M')%></span>
      <a href="<%= item.permalink %>"><%=h item.title %></a></h1>
    <h2>de <strong><a href="<%= item.feed.url %>"><%= item.feed.name %></a></strong> <% if item.author %>par <%= item.author %><% end %></h2>
  </div>
  <div class="item-content">
    <%= item.content %>
    <br /><br />
    Tags: <% item.tags.each do |t| %><a href="/tag/<%= CGI.escape(t.name) %>" class="tag"><%= t.name %></a> <% end %>
  </div>
</div>