<h1>Create User</h1>

<%= form_for(@user, :action => resource(:admin, :users)) do %>
  <%= text_field :login, :label => 'login' %><br />
  <%= text_field :password, :label => 'password' %><br />
  <%= text_field :password_confirmation, :label => 'password_confirmation' %><br />
  <%= submit 'Create' %>
<% end =%>
